*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
#wrapper{
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(44deg, rgba(255, 0, 0, 1) 0%, rgba(255, 85, 0, 1) 0%, rgba(255, 136, 0, 1) 0%, rgba(255, 191, 0, 1) 0%, rgba(255, 234, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(166, 255, 243, 1) 18%, rgba(255, 249, 158, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(0, 178, 255, 1) 100%, rgba(0, 30, 255, 1) 100%); 
}
.container{
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    margin: 0 auto;
    padding: 20px;
    position: relative;
    backdrop-filter: blur(15px);
    border-radius: 8px;
    border: 2px solid #ffffffb8;
    /* width: 10rem; */
}

.title{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Temperature-icon{
    font-size: 45px;
    color: azure;
}
.celsius, .fahrenheit, .kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
}

.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #13f156;
    color: #fff;
    border-radius: 0 8px 8px 0;
}

.btn{
    margin-top: 25px;
    text-align: center;
}

.btn button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background-color: aqua;
}

.btn button:hover{
    background: #000;
    color: #fff;
}

.mysection{
    margin-top: 30px;
    color: coral;
}
.icon-container{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}
/* .icon{
    border-radius: 50%;
} */

@media (max-width: 600px) {
    #wrapper{
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        /* flex-direction: column; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:linear-gradient(44deg, rgba(255, 0, 0, 1) 0%, rgba(255, 85, 0, 1) 0%, rgba(255, 136, 0, 1) 0%, rgba(255, 191, 0, 1) 0%, rgba(255, 234, 0, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(166, 255, 243, 1) 18%, rgba(255, 249, 158, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(0, 178, 255, 1) 100%, rgba(0, 30, 255, 1) 100%); 
    }
    .container{
        box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
        margin: 0 auto;
        padding: 20px;
        position: relative;
        backdrop-filter: blur(15px);
        border-radius: 8px;
        border: 2px solid #ffffffb8;
        width: 97%;
        /* width: 10rem; */
    }
    .title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}